engine-strict = true

link-workspace-packages=true
save-workspace-protocol=true
prefer-workspace-packages=false
shamefully-hoist=false

# public-hoist-pattern[]=eslint*
# public-hoist-pattern[]=typescript

only-built-dependencies[]=dev
only-built-dependencies[]=build
only-built-dependencies[]=lint:prettier
only-built-dependencies[]=lint:eslint
only-built-dependencies[]=lint:spellcheck
only-built-dependencies[]=commit
only-built-dependencies[]=prepare
only-built-dependencies[]=precommit

# .npmrc 内容
registry=https://registry.npmmirror.com/
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
electron_mirror=https://npmmirror.com/mirrors/electron/
python_mirror=https://npmmirror.com/mirrors/python/

