.page {
  width: 100%;
}

.card {
  min-height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.content {
  text-align: center;
  padding: 48px 0;
}

.description {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 32px;
}

.description500 {
  font-size: 14px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.illustration {
  width: 323px;
  height: auto;
  margin-bottom: 4px;
}
